{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/inicio.css') }}">
{% endblock %}


{% block content %}

<section class="main-box">

    <div class="box-1">
        <h2 class="titulo">Eguis Suarez Fuenmayor</h2>
        <p class="text-1">Especialista Digital (Desarrollador / Cybersecurity / AD)</p>
    </div>

    <div class="box-2">
        <h3 class="titulo-2">Trabajo</h3>
        <p class="text-2">Soy especialista en Tecnologías de la Información con más de cinco años de experiencia,
            formado
            de manera
            autodidacta y con un enfoque multidisciplinario. A lo largo de mi trayectoria, he trabajado con tecnologías
            como Python, Flask, JavaScript y PowerShell, lo que me permite abordar proyectos desde una perspectiva
            integral y adaptable.

            Mi objetivo es ofrecer soluciones simples, efectivas y orientadas a resultados, enfrentando los desafíos
            tecnológicos con una mentalidad práctica y enfocada en la mejora continua. Me apasiona optimizar procesos,
            impulsar la productividad y fomentar el crecimiento del conocimiento, tanto a nivel individual como en
            equipo.</p>
    </div>
    <form class="main-form" method="post">
        <li><a href="{{url_for('auth.home')}}">Inicio</a></li>
    </form>
</section>
{%endblock%}